<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AspireAI</title>
    
</head>
<body>
    <h1>AspireAI</h1>
    
    <form id="BasicInfo" method="post">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="firstName" required><br>

        <label for="lastName">Last Name:</label>
        <input type="text" id="lastName" name="lastName" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>

        <label for="gender">Gender:</label>
        <input type="text" id="gender" name="gender" required><br>

        <label for="country">Country:</label>
        <input type="text" id="country" name="country" required><br>

        <label for="Occupation">Occupation:</label>
        <input type="text" id="Occupation" name="Occupation" required><br>

        <label for="employmentType">Employment Type:</label>
        <select id="employmentType" name="employmentType" required>
            <option value="fullTime">Full Time</option>
            <option value="partTime">Part Time</option>
            <option value="zeroHour">Zero Hour</option>
            <option value="na">N/A</option>
        </select><br>

        <button type="submit">Submit</button>
    </form>

    <br>
    <br>

    <!-- Form to take user input -->
    <form id="queryForm">
        <label for="userInput">Tell us about your dream:</label><br>
        <textarea id="userInput" name="userInput" rows="4" cols="50" required></textarea><br>
        <button type="submit">Send</button>
    </form>

    <br>
    <br>

    <!-- Form to take user input -->
    <form id="storyForm">
        <button type="submit">See your future</button>
    </form>
    
    <br>
    <br>

    <!-- Form to take user input -->
    <form id="tasksForm">
        <button type="submit">Create your future</button>
    </form>



    <!-- Display the response from OpenAI -->
    <div id="responseOutput"></div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>